<%= form_for(service_tube) do |f| %>
  <% if service_tube.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_tube.errors.count, "error") %> prohibited this service_tube from being saved:</h2>

      <ul>
      <% service_tube.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
